In [1]:
import pandas as pd 
import numpy as np

TWEET_DATA = pd.read_csv("Data_Klasifikasi.csv", encoding = "ISO-8859-1")
TWEET_DATA['Text'].str.encode('ascii', 'ignore')
TWEET_DATA.head()

,Unnamed: 0,Id,Text,klasifikasi
0,0,"1,56E+18",17-run inning!\n\nthe triple-a @astros affilia...,neutral
1,1,"1,56E+18","ambassador @wbstevens, as an swfa affiliate me...",positive
2,2,"1,56E+18",the circuit's 3ssb coach of the year: pres. by...,positive
3,3,"1,56E+18",?multiuse code?\n50%off\ncode: 50vnxfxo\n?let ...,neutral
4,4,"1,56E+18",streaming tonight!\nfirst stream as affiliate!...,positive